body {
    margin: 0;
    min-width: 250px;
    background-color: #121212;
}


/* Include the padding and border in an element's total width and height */

* {
    box-sizing: border-box;
}


/* Remove margins and padding from the list */

ul {
    margin: 0;
    padding: 0;
}


/* Style the list items */

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    color: white;
    background: #000000;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Darker background-color on hover */

ul li:hover {
    background: #ddd;
}


/* When clicked on, change text color */

ul li.checked {
    color: #808080;
}


/* Add a "checked" mark when clicked on */

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* Style the close button */

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px 14px 16px;
}

.close:hover {
    background-color: #8F0B0B;
    color: white;
}


/* Style the header */

.header {
    background-color: #121212;
    padding: 30px 40px;
    color: #ff9500;
    text-align: center;
}


/* Clear floats after the header */

.header:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the input */

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


/* Style the "Add" button */

.addBtn {
    padding: 8.5px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}


/* style kanban */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}

.hero {
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 0;
}

.list__cell {
    flex-basis: calc(25% - 40px);
    min-height: 150px;
    margin: 20px;
    list-style: none;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #f0f2f5;
    ;
}

.list__caption {
    width: calc(25% - 40px);
    margin: 0 20px;
    list-style: none;
    font-weight: bold;
    color: white;
}

.list__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    min-height: 100%;
    cursor: all-scroll;
}

.list__card-header {
    text-transform: lowercase;
    font-weight: bold;
    padding: 12px 20px;
    background-color: #121212;
    color: white;
}

.list__card-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    flex-grow: 1;
    padding: 12px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.hovered {
    background-color: #d1d8e2;
}

.hide {
    display: none;
}