<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/styles/contact-style.css" rel="stylesheet" type="text/css">
    <title>聯繫我們</title>
</head>

<body>
    <p>Hi! I'm Phil and currently based in Taipei. You can reach out to me by leaving your email below.</p>
    <input type="email" placeholder="name@gmail.com">
    <input type="submit" value="Submit 提交">
    <a href="/login">返回登陸首頁.</a>
</body>

</html>