<head>
    <link href="/styles/login-style.css" rel="stylesheet" type="text/css">
</head>

<h1>Login 登錄</h1>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>



<form action="/login" class="login" method="POST">
    <input type="text" id="email" name="email" placeholder="Haiyaa! ID" required=true />
    <input type="password" id="password" name="password" placeholder="Password 密碼" required=true />
    <input type="submit" value="Submit 提交" />
    <p id="link"></p>沒有 Haiyaa! ID？<a href="/register">立即建立您的ID.</a></p>
</form>