<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type ="text/css" href="/views/styles/login-style.css" />
</head>

<body>
    <form action="/views/scripts/login-action.js" class="login" method="POST">
        <h1>Login 登錄</h1>
        <input type="text" id="email" name="email" placeholder="Haiyaa! ID" required=true />
        <input type="password" id="password" name="password" placeholder="Password 密碼" required=true />
        <input type="submit" value="Submit 提交" />
        <p id="link">沒有 Haiyaa! ID？<a href="..\registration ui\register.html">立即建立您的ID.</a></p>
    </form>
</body>

</html>